@charset "UTF-8";
/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 16px;
  font-family: "Asap", sans-serif;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  font-weight: 400;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

/*--------------------*/
.skills__title {
  text-align: center;
  padding-top: 92px;
  margin-bottom: 48px;
}
.skills__title::before {
  content: "";
  display: block;
  width: 60px;
  height: 4px;
  background-color: #212121;
  opacity: 0.6;
  margin: 0 0 20px 555px;
}
.skills .list-of-programs {
  display: flex;
  padding-bottom: 92px;
  justify-content: space-evenly;
  margin-top: 20px;
}
.skills .list-of-programs .program {
  width: 30px;
  height: 30px;
}
.skills .graph {
  max-width: 1170px;
  margin: auto;
  display: flex;
  justify-content: center;
}
.skills .graph .scale {
  padding-right: 0.5em;
  display: inline-flex;
  flex-direction: column;
}
.skills .graph .scale-value {
  display: block;
  position: relative;
  top: -0.5em;
  padding-bottom: calc(79px - 1em);
}
.skills .graph .layers {
  position: relative;
  flex-grow: 1;
}
.skills .graph .layers .background-layer {
  background-color: #f1f1f1;
}
.skills .graph .layers .background-layer .stroke {
  height: 80px;
  border-top: 1px solid #dfdfdf;
}
.skills .graph .layers .wave-layer {
  position: absolute;
  top: calc(100% - 400px);
}
.skills .graph .layers .wave-layer svg {
  filter: drop-shadow(0px -2px 8px #ebebeb);
}

body {
  height: 100%;
}

.wrapper {
  min-height: 100vh;
}

.container {
  max-width: 1170px;
  margin: 0 auto;
}

.home {
  min-height: 100vh;
  background: url("../img/1-home/bg.jpg") center/cover no-repeat;
}
.home__content {
  padding-top: 30px;
  display: flex;
  justify-content: space-between;
}
.home__logo {
  max-width: 80px;
  text-align: center;
}
.home__logo_title {
  margin-top: 10px;
  color: #000000;
  font-family: Lato;
  font-size: 14px;
  font-weight: 300;
  text-transform: uppercase;
  line-height: 15.92px;
  margin-bottom: 3px;
}
.home__logo_subtitle {
  color: #000000;
  font-family: Lato;
  font-size: 5px;
  text-transform: uppercase;
}
.home__nav_link {
  color: #4d4d4d;
  text-transform: uppercase;
  text-decoration: none;
  margin-right: 15px;
  padding-bottom: 5px;
  font-size: 16px;
}
.home__nav_link:hover {
  border-bottom: 2px solid #4d4d4d;
}
.home__inner {
  display: flex;
}
.home__text {
  max-width: 550px;
}
.home__title {
  margin-top: 175px;
  color: #4d4d4d;
  font-size: 90px;
  font-weight: 500;
  line-height: 67px;
}
.home__subtitle {
  opacity: 0.54;
  color: #4d4d4d;
  font-size: 22px;
  font-weight: 500;
  line-height: 67px;
}
.home__button {
  color: #4d4d4d;
  font-weight: 500;
  line-height: 67px;
  margin-right: 15px;
  padding: 15px 35px;
}
.home__img {
  margin-left: auto;
  margin-right: 0;
}
.home__img_img {
  margin-top: 20px;
}

.button {
  border: 1px solid #4d4d4d;
  text-transform: uppercase;
}
.button:hover {
  background-color: #fff;
  border: 1px solid #fff;
  box-shadow: 0 0 40px #828282;
  transition: 0.2s linear;
}

.title {
  opacity: 0.8;
  color: #4d4d4d;
  font-size: 46px;
  font-weight: 700;
  line-height: 49px;
  letter-spacing: 5px;
  text-transform: uppercase;
}

/* ABOUT */
.about {
  min-height: 575px;
}
.about .about__content {
  margin-top: 110px;
  display: flex;
  justify-content: space-between;
}
.about .about__content .about__info {
  margin-top: 60px;
}
.about .about__content .about__info .about__title {
  max-width: 330px;
}
.about .about__content .about__info .about__title:before {
  content: "";
  display: block;
  width: 60px;
  height: 4px;
  background-color: #212121;
  margin: 0 0 15px 5px;
  opacity: 0.6;
}
.about .about__content .about__info .about__text {
  color: #4d4d4d;
  line-height: 26px;
  max-width: 469px;
  margin: 10px 0 35px 0;
}
.about .about__content .about__info .about__button {
  color: #4d4d4d;
  font-weight: 500;
  line-height: 67px;
  text-transform: uppercase;
  padding: 15px 45px;
}
/* SERVICES */
.services {
  min-height: 750px;
  background-color: #f6f6f6;
  text-align: center;
}
.services .services__content .services__title {
  padding-top: 92px;
}
.services .services__content .services__title:before {
  content: "";
  display: block;
  width: 60px;
  height: 4px;
  background-color: #212121;
  opacity: 0.6;
  margin: 0 0 20px 555px;
}
.services .services__content .services__list-of-services {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.services .services__content .services__list-of-services .services__description {
  flex: 0 0 33.333%;
  margin: 110px 0 0 0;
}
.services .services__content .services__list-of-services .services__description .services__name {
  color: #4d4d4d;
  font-size: 24px;
  font-weight: 500;
  margin-top: 15px;
}

/* PORTFOLIO */
.portfolio {
  background-color: #f6f6f6;
  min-height: 1050px;
}
.portfolio .portfolio__content {
  text-align: center;
}
.portfolio .portfolio__content .portfolio__title {
  padding-top: 92px;
  margin-bottom: 85px;
}
.portfolio .portfolio__content .portfolio__title:before {
  content: "";
  display: block;
  width: 60px;
  height: 4px;
  background-color: #212121;
  opacity: 0.6;
  margin: 0 0 20px 555px;
}
.portfolio .portfolio__content .portfolio__list-of-layouts {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.portfolio .portfolio__content .portfolio__list-of-layouts .portfolio__discription .portfolio__img {
  flex: 0 0 33.333%;
  margin: -45px 0 65px 0;
}
.portfolio .portfolio__content .portfolio__button {
  color: #4d4d4d;
  font-weight: 500;
  padding: 20px 47px;
}

/* TESTIMONIALS */
.testimonials__content {
  margin-top: 126px;
  width: 100%;
}
.testimonials .testimonials__title {
  margin-bottom: 56px;
  text-align: center;
  font-size: 46px;
  color: #717171;
}
.testimonials .testimonials__title:before {
  content: "";
  display: block;
  width: 60px;
  height: 4px;
  background-color: #212121;
  opacity: 0.6;
  margin: 0 0 20px 555px;
}
.testimonials .testimonials__cutaway {
  margin: 0 auto;
  border: 1px solid #000;
  height: 350px;
  width: 954px;
}
.testimonials__list-of-benefits {
  margin-top: 120px;
  height: 300px;
  background-color: #f6f6f6;
}
.testimonials__description {
<<<<<<< HEAD
  border: 1 px solid #000;
=======
  border: 1px solid #000;
>>>>>>> 4c4f8e679977fb633cb70fd744f10c545128483e
}
.testimonials__description:first-child {
  margin-left: 45px;
  margin-right: 138px;
}
.testimonials__description:nth-child(2n) {
  margin-right: 132px;
}
.testimonials__description:nth-child(3n) {
  margin-right: 125px;
}
.testimonials__description:last-child {
  margin-right: 0;
}
.testimonials__text {
  text-align: center;
  text-transform: uppercase;
  margin-top: 30px;
}

.cutaway__body {
  height: 160px;
  margin-top: 82px;
}
.cutaway__body_inner {
  margin-left: 120px;
  margin-right: 70px;
  display: flex;
}
.cutaway__all-text {
  margin-left: 30px;
}
.cutaway__title {
  margin-bottom: 6px;
  width: 200px;
  font-size: 30px;
  font-weight: 500;
  color: #212121;
  text-transform: uppercase;
}
.cutaway__subtitle {
  margin-bottom: 20px;
  font-size: 12px;
  color: #212121;
}
.cutaway__text {
  line-height: 1.4;
  text-transform: uppercase;
  font-size: 16px;
  color: #212121;
}
.list-of-benefits__body {
  max-width: 1170px;
  margin-left: 500px;
  border: 1px solid #000;
  display: flex;
  margin-left: 46px;
  margin-right: 58px;
}